@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  color: #24292e;
  font-family: "Shippori Mincho", serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #24292e;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 1rem;
  padding: 0 4%;
}

.section__title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

.index {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 270px;
  margin: 0 auto;
  padding: 0 4%;
}
.index__title {
  line-height: 1px;
}
.index .internal__links {
  display: flex;
  padding: 10px 0;
}
.index .internal__links li {
  font-size: 0.875rem;
  margin-left: 30px;
}
.index .internal__links li a:hover {
  opacity: 0.7;
}
.index .internal__links li .fa-brands {
  font-size: 1.25rem;
}

.main__visual {
  margin-bottom: 80px;
}
.main__visual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
  object-position: center left;
}

#about ul {
  margin-bottom: 30px;
}
#about ul li {
  padding: 0 0 5px 0;
}
#about ul li:first-child {
  font-size: 1.25rem;
  margin-bottom: 30px;
}
#about p {
  text-align: justify;
}

#works ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
#works ul li {
  width: 49%;
  margin-bottom: 23px;
}
#works ul li img {
  width: 100%;
  height: 50vh;
  transition: 0.3s;
}
#works ul li img:hover {
  transform: scale(1.5);
}

#news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px #c8c8c8;
}
#news dt {
  width: 20%;
  border-bottom: dotted 1px #c8c8c8;
  padding: 15px;
}
#news dt:last-of-type {
  border-bottom: none;
}
#news dd {
  width: 80%;
  border-bottom: dotted 1px #c8c8c8;
  padding: 15px;
}
#news dd:last-child {
  border-bottom: none;
}

#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#contact dt {
  width: 15%;
}
#contact dd {
  width: 85%;
  margin-bottom: 10px;
}
#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 1px #c8c8c8;
  padding: 10px;
}
#contact dd textarea {
  height: 10rem;
}
#contact .button {
  text-align: center;
}
#contact .button input {
  width: 200px;
  background-color: #24292e;
  color: #fff;
  padding: 16px 0;
  border: solid 1px #24292e;
}
#contact .button input:hover {
  background: #fff;
  color: #24292e;
}

.goto {
  cursor: pointer;
  z-index: 1000;
}
.goto .top,
.goto .end {
  padding: 10px 16px;
  border-radius: 50%;
  background: rgba(228, 211, 211, 0.5);
  position: fixed;
}
.goto .top {
  right: 20px;
  bottom: 90px;
}
.goto .end {
  right: 20px;
  bottom: 30px;
}

.footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.875rem;
  padding: 10px 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-bottom: 70px;
  }
  .section__title {
    margin-bottom: 40px;
  }
  .index {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }
  .index__title {
    margin-top: 20px;
  }
  .index .internal__links li {
    font-size: 1rem;
  }
  #works ul {
    flex-direction: column;
  }
  #works ul li {
    width: 100%;
  }
  #works ul li img {
    object-fit: cover;
  }
  #works ul li img:hover {
    transform: none;
  }
  #news dl {
    flex-direction: column;
  }
  #news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
  }
  #news dd {
    width: 100%;
    padding-top: 5px;
  }
  #contact dl {
    flex-direction: column;
  }
  #contact dt {
    width: 100%;
  }
  #contact dd {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
